
body {
      background-color: #ff99cc;
}
h1{
  color: Yellow;
  text-align: center;
}
h3{
  color: White;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}

#myheader{
  color: yellow;
  text-align: center;
  padding: 10px;
}

p{
  background-color: white;
  color: blue;
  }

  .img-fluid{
    margin-left: 2%;
  }
